{
  "dev_token": "",
  "localhost": true,
  "auth_url": "https://www.fitbit.com/oauth2/authorize?response_type=token&client_id=228FYH&redirect_uri=https%3A%2F%2Fdawin.sylvainmetayer.fr%2Fstart.html%2F&scope=activity%20nutrition%20heartrate%20location%20nutrition%20profile%20settings%20sleep%20social%20weight",
  "base_url": "https://api.fitbit.com/",
  "base_api_url": "http://localhost:8080/",
  "dev_default_query": "https://api.fitbit.com/1/user/-/activities/heart/date/today/1d.json"
}